body {
/*	padding-top: 3rem;*/
	/*padding-bottom: 3rem;*/
}
.header {
	text-align: center;
	padding-bottom: 1rem;
	padding-top:2rem;
	background-color: #54b9ca;
}

.header p, h1, span{
	color:white;
}

footer {
	background-color: #54b9ca;
}

.skill-box h2 {
	font-size: 1.5rem;
	line-height: 3.5rem;
}

.skill-box  p {
	line-height: .8rem;
}

.skill-img {
	height: 120px;
}

.blue-circle {
	background-color: #54b9ca;
	width: 1rem;
	height: 1rem;
}

.green-circle {
	background-color: #54ca65;
	width: 1rem;
	height: 1rem;
}

.yellow-circle {
	background-color: #fde308;
	width: 1rem;
	height: 1rem;
}


.milestone-divider {
	margin: 4rem auto;
}

.milestone li {
	line-height: 1.8rem;
}

.btn-bg {
	background-color: #54b9ca;
}

.progress-bg {
	background-color: #54b9ca;
}

.progress-bg-green {
	background-color: #54ca65;
}

.progress-bg-yellow {
	background-color: #fde308;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, .3);
}

/*.timeline-container {
	position: relative;
}

.milestone {
	position: relative;
}*/

/*.scrollspy-example {
	position: relative;
	height: 200px;
	margin-top: .5rem;
	overflow: auto;
}*/

.timeline {
	/*background-color:#54b9ca;*/ 
}

#milestone-1 {
	padding-top: 180px;
}

#milestone-2 {
	padding-top: 200px;
}

#milestone-3 {
	padding-top: 240px;
}

#milestone-4 {
	padding-top: 170px;
}

#milestone-5 {
	padding-top: 120px;
}

#milestone-6 {
	padding-top: 0px;
}

.timeline-head {
	background-color:#54b9ca;
	line-height: 2.5rem; 
	/*border-top-right-radius: 20%;
	border-top-left-radius: 20%;*/
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
}

.timeline-year {
	background-color: ;
	list-style-type: none;
	transform: translateX(-16px);
	font-size: 1rem;
}