body {
/*	padding-top: 3rem;*/
	/*padding-bottom: 3rem;*/
}
.header {
	text-align: center;
	padding-bottom: 2rem;
	background-color: #4472c4;
	background-color: #54b9ca;
}

.header p, h1, span{
	color:white;
}

footer {
	background-color: #4472c4;
	background-color: #54b9ca;
}

.skill-box h2 {
	font-size: 1.5rem;
	line-height: 3.5rem;
}

.skill-box  p {
	line-height: .8rem;
}

.skill-img {
	height: 120px;
}

.blue-circle {
	background-color: #54b9ca;
	width: 1rem;
	height: 1rem;
}

.green-circle {
	background-color: #54ca65;
	width: 1rem;
	height: 1rem;
}

.yellow-circle {
	background-color: #fde308;
	width: 1rem;
	height: 1rem;
}


.milestone-divider {
	margin: 5rem auto;
}

.btn-bg {
	background-color: #54b9ca;
}

.progress-bg {
	background-color: #54b9ca;
}

.progress-bg-green {
	background-color: #54ca65;
}

.progress-bg-yellow {
	background-color: #fde308;
}
/*#milestone-carouse3 p, h5{
	text-align: start;
}

*/