* {
    padding: 0;
    margin: 0;
}

html {
  height: 100%;
}

body {
	background: url(../images/room.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;  
}

p {
    font-size: 20px;
    color: black;
}

.header {
    text-align: center;
    margin: 20px;
    margin-bottom: 50px
}

h1 {
	color: #1d198b;
	font-size: 50px;
  padding: 10px;

}

.header p {
  font-size: 20px;
}

.left {
  width: 45%;
  float: left;
  text-align: right;

}

.mid  {
	width: 10%;
	float: left;
 	margin-top: 0px;
 	text-align: center;
}

.mid p{
  margin-bottom: 150px;
}

.right {
    width: 35%;
    float: left;
    margin-right:10%;
}

.left div{
  margin: 30px;
  margin-top: 0px;
  margin-left: 100px;
}


#clock-0 {
	background-image: url(../images/wall.jpg);
}

.right img {
  width: 100%;
}